:root {
    color-scheme: light;
    --primary-color: #007aff;
    --secondary-color: #ffffff;
    --destructive-color: #ff3b30;
    --white-color: #ffffff;
    --shadow-color-heavy: rgba(0, 0, 0, 0.3);
    --shadow-color: rgba(0, 0, 0, 0.15);
    --shadow-color-light: rgba(0, 0, 0, 0.05);
    --gray-color: rgba(217, 217, 217, 0.47);
    --input-outline-color: rgba(128, 188, 255, 0.5);
    --base-spacing: 16px;
    --page-padding: 20px;
    --container-radius: 10px;
    --radius-sm: 3px;
    --radius: 5px;
    --radius-lg: 10px;
    --font-dark-color: rgba(0, 0, 0, 0.85);
}

::-webkit-scrollbar {
    display: none;
}



body {
    font-family: system-ui;
}

.container {
    width: 650px;
    height: 500px;
    padding: var(--page-padding);
    background: var(--white-color);
    display: flex;
    flex-direction: column;
    gap: var(--base-spacing);
    justify-content: stretch;
    border-radius: var(--radius);
    border: 1px dotted red;
}

.title {
    text-align: center;
    font-size: medium;
    font-weight: normal;
    padding: 0;
    margin: 0;
    color: var(--font-dark-color);
    text-shadow: 0 0.5px 0.5px var(--shadow-color-light);
}

.action-group {
    display: flex;
    justify-content: space-between;
}


.action-group .icon-input {
    position: relative;
}

.action-group .icon-input input {
    width: 214px;
    height: 22px;
    text-indent: 24px;
}

.action-group .icon-input .input-icon {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 18px;
    height: 18px;
}

.site-list {
    display: flex;
    padding: 16px;
    ;
    height: 322px;
    overflow: scroll;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: flex-start;
    align-content: start;
    border-radius: var(--radius-lg);
    /* background: var(--shadow-color-light); */
    border: 1px dotted red;
}



.flex-end {
    display: flex;
    justify-content: flex-end;
}

@media (prefers-color-scheme: dark) {
    /* Dark Mode styles go here. */
}
